header.header
    .container-xxl.header__container
        h1.header__title Детский садик "Чудо&nbsp;-&nbsp;Садик"
        .header__contacts
            .header__tel
                p Телефон: 
                    a(href="tel:+79037255118") +7 (903) 725-51-18
                p E-mail: 
                    a(href="mailto:info@4udo-sadik.ru") info@4udo-sadik.ru
            .header__address 
                p Адрес: 121609, Москва ул. Крылатская д.40 стр 74
